html, body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
button { cursor: pointer }
.job { border: 1px solid #ddd; padding: 10px; margin-bottom: 8px }
